@model MVCUtilityLayer.EmployeeViewModel

@{
    ViewBag.Title = "Add Employee";
}

<h2>Add Employee</h2>

@using (Html.BeginForm("Add", "Employee", FormMethod.Post))
{
    <table>
        <tr>
            <td>ID:</td>
            <td>@Html.TextBoxFor(model => model.EmployeeID)</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td>@Html.TextBoxFor(model => model.EmployeeName)</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>@Html.TextBoxFor(model => model.Gender)</td>
        </tr>
        <tr>
            <td>City:</td>
            <td>@Html.TextBoxFor(model => model.City)</td>
        </tr>
    </table>
    <br />
    <button type="submit" id="addEmployeeButton" formaction="@Url.Action("Add", "Employee")">Add Employee</button>
    <button type="submit" id="updateEmployeeButton" formaction="@Url.Action("Edit", "Employee")">Update Employee</button>
    <button type="submit" id="deleteEmployeeButton" formaction="@Url.Action("Delete", "Employee")">Delete Employee</button>
    <button type="submit" id="getAllEmployeeButton" formaction="@Url.Action("GetAll", "Employee")">Get All Employee</button>
}
